<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="Server" />
        <remove name="server" />
        <remove name="X-Powered-By" />
        <remove name="x-powered-by" />
        <clear />
      </customHeaders>
      <redirectHeaders>
        <clear />
      </redirectHeaders>
    </httpProtocol>
  </system.webServer>
  
  <system.web>
    <httpRuntime enableVersionHeader="false" />
  </system.web>

</configuration>
