
<article (click)="openShoutModal( $event )" class="add-border-bottom {{ canceledClasses }}">

  <header>
    <p> &#64;{{ shout.userName }} </p>
    <time class="text-grey"> {{ createDate }} </time>
  </header>

  <p> {{ shout.content }} </p>

  <footer>
    <p class="reaction-count text-grey">
      <b> {{ shout.commentsCount }} </b>
      <i class="fi fi-comments"></i>
    </p>

    <p (click)="likeShout()" class="reaction-count text-grey">
      <b> {{ shout.likesCount }} </b>
      <i class="fi fi-like"></i>
    </p>

    <p (click)="dislikeShout()" class="reaction-count text-grey">
      <b> {{ shout.dislikesCount }} </b>
      <i class="fi fi-dislike"></i>
    </p>
  </footer>

</article>
