
<dialog class="modal fade" id="{{ id }}" data-backdrop="static" tabindex="-1" role="dialog" attr.aria-labelledby="{{ id }}Label" aria-hidden="true">
  <article class="modal-dialog" role="document">
    <section class="modal-content">

      <header class="modal-header">
        <h5 class="modal-title" id="{{ id }}Label"> {{ title }} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </header>

      <div class="modal-body">

        <app-auth-modal *ngIf="activeModal == 1"></app-auth-modal>

      </div>

      <footer class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary go">{{ goBtnLabel }}</button>
      </footer>

    </section>
  </article>
</dialog>
