@import '../../../constants.scss';

h2 {
  font-size: 1.1rem;
}

h3 {
  color: $grey-text;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.2em;
  padding-bottom: 0.5em;
  text-align: center;
}

b {
  color: white;
}

.follow-count {
  display: inline-block;
  margin-right: 1em;
}

.empty-shouts {
  margin-top: 2em;

  p {
    text-align: center;
  }

  i {
    font-size: 1.5rem;
    margin-top: 2.5em;
    display: block;
    text-align: center;
  }

  button {
    border-radius: 9999px;
    display: block;
    margin-top: 2.3em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
