<header>
  <h2> &#64;{{ userName }}</h2>

  <p> {{ bio }} </p>
  <p> {{ website }} </p>
  <address class="text-grey"> {{ location }} </address>
  <time class="text-grey"> {{ birthDate }} </time>
  <p class="follow-count text-grey"><b> {{ followingCount }} </b> Following </p>
  <p class="follow-count text-grey"><b> {{ followersCount }} </b> Followers </p>

</header>

<section>
  <h3 class="add-border-bottom"> Shouts </h3>

  <div *ngIf="shouts.length == 0"
       class="empty-shouts">

    <p class="text-grey"> {{ CONSTANTS.defaultLabels.emptyProfileShouts }} </p>
    <i class="fi fi-arrow-down text-grey anim anim-slow zoomInOut"></i>

    <div class="new-shout-wrapper">
      <app-new-shout-button></app-new-shout-button>
    </div>

  </div>

  <app-shout-card *ngFor="let shout of shouts"
                  [shout]="shout">
  </app-shout-card>

</section>
