@import '../../shared/constants.scss';

nav {
  padding-right: 5em;

  a {
    border-radius: 9999px;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-bottom: 0.5em;
    padding: 0.6em;
    padding-right: calc( #{ $sidenavbar-big-width } * 0.18 );
    transition: 0.3s;
    transition-duration: 0.3s;

    &:hover {
      background-color: rgb(36, 60, 85);
    }

    &:hover, &.active {
      color: rgba(29,161,242,1.00);
    }

  }
}
